@import '../app/base';
body .InputGroup {
    width: 100%;
    margin-bottom: $input_margin;
    .Input {
        width: 100%;
        padding: 15px;
        border: none;
        color: $white;
        background-color: rgba(0, 0, 0, 0.13) !important;
        border-radius: 3px;
        font-weight: 400;
        font-family: 'Roboto';
        border: 2px solid transparent;
        transition: all 200ms;
        outline: none !important;
        &.success {
            border: 2px solid $success;
        }
        &.danger {
            border: 2px solid $danger;
        }
    }
    .Error {
        margin: 0;
        margin-top: 5px;
        color: $danger;
    }
}
