@import '../app/base';
.Form {
    padding: 15px;
    border-radius: 5px;
    @include BoxShadow(3);
    background-color: $side-color;
    color: $white;
    .title {
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        margin-top: 10px;
    }
    @media screen and (max-width: 1000px) {
        height: 100% !important;
        width: 100% !important;
    }
}