<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/grid.css">
    <link rel="icon" href="/static/img/app_logo.png">

    <title>Ajlun</title>
</head>
<body>
    <div id="root">
        
    </div>
    <script src="/static/js/app.min.js"></script>
</body>
</html>