@import '../app/base';
.Button {
    background-color: $primary;
    font-family: 'Roboto';
    border: none;
    padding: 13px 45px;
    border-radius: 2px;
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    &.disabled {
        filter: brightness(20%);
    }
    @include BoxShadow(2);
}
