@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './base';
html {
    font-size: 100%;
    font-family: 'Lato';
}
html,body{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
#root{
    height: 100vh;
    background-color: $center-color;
}
.main {
    height: 100%;
}
.danger-text {
    color: $danger;
}
.success-text {
    color: $success;
}