$danger: #ff4444;
$warning: #ffbb33;
$success: #00c851;
$info: #33b5e5;
$primary: #4285f4;
$dark: #2e2e2e;
$white: #ffffff;
$black: #000000;
$input_margin: 10px;

.AllCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}