@import '../app/base';
.DMInterface {
    height: 100%;
    .DMIList-con {
        /* the friends list */
        height: 100%;
        background-color: $side-color;
        padding: 0;
    }
}
.dm-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(40deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.17)),url("/static/img/loading_gif/space.gif");
    background-repeat: no-repeat;
    background-size: cover;
    .loading {
        color: $white;
        font-weight: 500;
        font-size: 3rem;
        text-transform: uppercase;
    }
}
